.properties{
    padding: 0 20px;
}

.property-container{
    background: #f6f8fa;
    padding: 5% 80px;
    border-radius: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
}

.card{
    background: #fff;
    width: 320px;
    box-shadow: #dfdcdc 2px 2px 4px 6px;
    border-radius: 5px;
}

.card:hover{
    box-shadow:  #cfcfcf 2px 2px 5px 8px;
    transition: 0.3s all ease-in-out;
}

.card-content{
    padding: 10px 15px;
}

.card-img img{
    border-radius: 5px 5px 0 0;
    width: 320px;

}

.price-container{
    color: #5237ed;
    font-weight: 900;
    font-size: 1rem;
}

.property-name{
    font-size: 1.3rem;
    line-height: 1;
}

.property-address{
    font-weight: 300;
    color: #55657c;
    margin-bottom: 8px;
    font-size: 1.2rem;
}

.properties-icon-section{
    margin-top: 4px ;
    display: flex;
    justify-content: space-between;
    color: #73808d;
    font-size: 0.9rem;
}

i{
    color: #5237ed;
    margin: 0 3px;
}